$icomoon-font-family: "icon-font" !default;
$icomoon-font-path: "fonts" !default;

$ic-portfolios: "\e61e";
$ic-filters: "\e61f";
$ic-search: "\e660";
$ic-arrow-left: "\e8a0";
$ic-drop-down-arrow: "\e8a1";
$ic-menu: "\e8ae";
$ic-rights: "\e8e3";

