@import 'normalize';
@import 'icons';

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 1000px;
  background-color: #505050;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);

  &>div {
    vertical-align: middle;
  }

  .menu-wrap {
    position: relative;
    display: inline-block;
    color: white;

    &:hover .ic-arrow-left{
      z-index: 3;
    }

    &:hover .menu-link span {
      display: inline-block;
    }
  }

  .menu-label {
    position: relative;
    display: block;
    width: 60px;
    height: 56px;
    background-color: #202020;

    &:hover {
      cursor: pointer;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 22px;
      background-color: #202020;
      transform: translate(-50%, -50%);
    }

    .ic-menu {
      z-index: 2;
    }

    .ic-arrow-left {
      display: none;
    }
  }

  .menu-dropdown {
    position: fixed;
    top: 56px;
    left: 0;
    display: none;
    height: calc(100vh - 56px);
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #202020;
  }

  .menu-link {
    position: relative;
    display: block;
    height: 56px;
    padding-left: 60px;
    line-height: 56px;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: #3a3a3a;
    }

    i {
      position: absolute;
      top: 50%;
      left: 30px;
      font-size: 24px;
      transform: translate(-50%, -50%);
    }

    span {
      display: none;
      width: 125px;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  #menu-check:checked ~ .menu-dropdown {
    display: block;
  }

  #menu-check:checked ~ .menu-label .ic-arrow-left {
    display: block;
  }

  .nav {
    display: inline-block;
    padding-left: 20px;
    font-size: 19px;
    color: white;
    letter-spacing: 0.4px;

    &>span {
      vertical-align: middle;
    }
  }

  .nav-arrow {
    padding: 0 20px;
    font-size: 23px;
  }

  .search-wrap {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    i {
      position: absolute;
      top: 50%;
      color: white;
      transform: translateY(-50%);
    }

    .ic-search {
      left: 12px;
    }

    .ic-drop-down-arrow {
      right: 11px;
      font-size: 20px;
    }
  }

  .search {
    width: 570px;
    height: 28px;
    margin: 0;
    padding: 0;
    color: white;
    text-indent: 36px;
    background-color: #707070;
    border-width: 0;
    border-radius: 2px;
    outline: 0;

    &::-webkit-input-placeholder {color: white;}
    &::-moz-placeholder          {color: white;}
    &:-moz-placeholder           {color: white;}
    &:-ms-input-placeholder      {color: white;}
  }
}
