@import 'normalize';
@import 'icons';

body {
  position: relative;
}

.header {
  .menu-wrap {
    display: inline-block;
    position: relative;

    &:hover .ic-arrow-left{
      z-index: 3;
    }

    &:hover .menu-link span {
      display: inline-block;
    }
  }

  .menu-label {
    width: 60px;
    height: 60px;
    background-color: grey;
    display: block;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    .ic {
      background-color: grey;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .ic-menu {
      z-index: 2;
    }

    .ic-arrow-left {
      color: red;
      display: none;
    }
  }

  .menu-dropdown {
    display:none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu-link-wrap {

  }

  .menu-link {
    display: block;
    text-decoration: none;
    height: 30px;
    position: relative;
    padding-left: 20px;

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    span {
      width: 150px;
      display: none;
      line-height: 30px;
    }
  }

  #menu-check:checked ~ .menu-dropdown {
    display: block;
  }

  #menu-check:checked ~ .menu-label .ic-arrow-left {
    display: block;
  }

  .nav {
    display: inline-block;
  }
}
